# Don't track Jupyer notebook checkpoints
.ipynb_checkpoints

# Dont track these file extensions
*.nc

# Don't track these directories
input/*
output/*
analysis/.ipynb_checkpoints/*
analysis/dask-worker-space/*
spinup/io/*
figures/images/*

# File exceptions
!output/log/.gitkeep
!spinup/io/base.ini
