# Don't track Jupyer notebook checkpoints
.ipynb_checkpoints

# Don't track these directories
input/*
output/*
analysis/.ipynb_checkpoints/*
analysis/dask-worker-space/*

# File exceptions
!output/log/.gitkeep
