# Don't track Jupyer notebook checkpoints
.ipynb_checkpoints

# Don't track these directories
input/*
output/*
analysis/.ipynb_checkpoints/*
analysis/dask-worker-space/*
spinup/io/*

# File exceptions
!output/log/.gitkeep
!spinup/io/base.ini
